

body {
	margin: 0;
	padding: 0;
	color: #606776;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	line-height: 1.4em; 
background-color:#FF9900;
   
}



a, a:link, a:visited { color: #e5bb58; font-weight: normal; text-decoration: none }
a:hover { text-decoration: underline; }

a.gototop { clear: both; display:block; float: right; margin-top: 40px; height: 20px; line-height: 20px; font-size: 11px; color: #485163; font-weight: 700; padding-left: 15px; background: url(../images/go_to_top.png) scroll 0 3px no-repeat }

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }
em { color: #fff }
blockquote { font-style: italic; margin: 0 0 20px 0}
cite { font-weight: bold; color:#e5bb58; }
cite a, cite a:link, cite a:visited  { font-size: 12px; text-decoration: none; font-style: normal }
cite span { font-weight: 400; color: #606776; }

h1, h2, h3, h4, h5, h6 { color: #bac9ee; font-weight: normal; }
h1 { font-size: 36px; margin: 0 0 30px; padding: 5px 0 }
h2 { font-size: 24px; margin: 0 0 25px; padding: 5px 0 }
h3 { font-size: 20px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 16px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 14px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 12px; margin: 0 0 5px; padding: 0; font-weight: 700 }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }


.float_l { float: left }
.float_r { float: right }


.tmo_list { margin: 10px 0 10px 30px; padding: 0; list-style: decimal-leading-zero }
.tmo_list li { color:#606776; margin: 0 0 10px 0; padding: 0 5px 0 0; background: url(../images/templatemo_list.png) no-repeat scroll 0 5px  }
.tmo_list li a { color: #606776; font-weight: normal }
.tmo_list li a:hover { color: #606776 }

#templatemo_wrapper {
	width: 860px;
	margin: 0 auto;

	
}

#templatemo_header {
	padding: 40px 0 10px;
	background: url(../images/header_bg.jpg) repeat-x bottom;
}

#templatmeo_menu {
	height: 50px;
	padding: 10px 0;
	margin-bottom: -2px;
	background: url(../images/templatemo_menu_bg.png) no-repeat;
	width:1000px;
	margin-left: -26px;

	

}

#templatemo_main {
	padding: 10px;
	background: url(../images/templatemo_main.png) repeat-y
}

#templatemo_footer {
	padding: 40px 0 20px;
	text-align: center;
	color: #000;
	
}

#site_title { display: block; width: 218px; margin: 0 auto; }
#site_title a { display: block; width: 218px; height: 50px; text-indent: -10000px; background: url(../images/templatemo_logo.png) no-repeat }

#templatmeo_menu ul { margin: 0; padding: 0; list-style: none; margin-left: 30px; }
#templatmeo_menu ul li { margin: 0; padding: 0; }
#templatmeo_menu ul li a { display: block; position: relative; float: left; margin-left: 10px; width: 160px; height: 49px }
#templatmeo_menu ul li a span { position: absolute; width: 30px; height: 30px; top: 8px; left: 10px; }
#templatmeo_menu ul li a.home { background: url(../images/btn_principal.png) }
#templatmeo_menu ul li a.home span { background: url(../images/icon_home.png) }
#templatmeo_menu ul li a.home:hover span {  background: url(../images/icon_home_hover.png) }

#templatmeo_menu ul li a.about { background: url(../images/btn_registrar.png) }
#templatmeo_menu ul li a.about span { background: url(../images/icon_about.png) }
#templatmeo_menu ul li a.about:hover span {  background: url(../images/icon_about_hover.png) }

#templatmeo_menu ul li a.portfolio { background: url(../images/btn_descargas.png) }
#templatmeo_menu ul li a.portfolio span { background: url(../images/icon_portfolio.png) }
#templatmeo_menu ul li a.portfolio:hover span {  background: url(../images/icon_portfolio_hover.png) }

#templatmeo_menu ul li a.services { background: url(../images/btn_tienda.png) }
#templatmeo_menu ul li a.services span { background: url(../images/icon_services.png) }
#templatmeo_menu ul li a.services:hover span {  background: url(../images/icon_services_hover.png) }

#templatmeo_menu ul li a.contact { background: url(../images/btn_donar.png) }
#templatmeo_menu ul li a.contact span { background: url(../images/icon_contact.png) }
#templatmeo_menu ul li a.contact:hover span {  background: url(../images/icon_contact_hover.png) }

#templatemo_main h1 {padding: 10px 0 10px 25px; font-size: 28px; background: url(../images/header.png) no-repeat left center }

.main_box { min-height: 560px; padding: 50px 0;/*se agrega mas negro*/ margin-bottom: 20px; background: url(../images/divider.png) repeat-x bottom }
.main_box2 { min-height: 900px; padding: 30px 0; margin-bottom: 30px; background: url(../images/divider.png) repeat-x bottom }
.main_box3 { min-height: 900px; padding: 30px 0; margin-bottom: 30px; background: url(../images/divider.png) repeat-x bottom }
.main_box4 { min-height: 1100px; padding: 30px 0; margin-bottom: 30px; background: url(../images/divider.png) repeat-x bottom }
.main_box5 { min-height: 1200px; padding: 30px 0; margin-bottom: 30px; background: url(../images/divider.png) repeat-x bottom }
.main_box6 { min-height: 1100px; padding: 30px 0; margin-bottom: 30px; background: url(../images/divider.png) repeat-x bottom }
.img_float_l { float: left; margin: 3px 30px 5px 0 }
.img_float_r { float: right; margin: 3px 0 5px 30px } 
.img_frame { border: 1px solid #2f323b; background: #15171d; padding: 9px; margin-bottom: 10px  }

#gallery { margin: 0; padding: 0; list-style: none }
#gallery li { margin: 0; padding: 0; }
#gallery li a { display: block; float: left; margin: 0 5px 5px 0; border: 6px solid #181b21  }
#gallery li a.no_margin_right { margin-right: 0 }

#services h3 { margin-bottom: 30px }
#services p { margin-bottom: 30px }





.col { float: left; margin-right: 40px }
.col_12 { width: 380px }
.col_13 { height:1200px;width: 620px;background-color: silver;margin-left: 20px;margin-top: -40px; }
.col_13a { height:2200px;width: 620px;background-color: silver;margin-left: 20px;margin-top: -40px; }
.col_13b { height:4600px;width: 620px;background-color: silver;margin-left: 20px;margin-top: -40px; }
.col_13c { height:1140px;width: 620px;background-color: silver;margin-left: 20px;margin-top: -40px; }
.col_13d { height:1400px;width: 620px;background-color: silver;margin-left: 20px;margin-top: -40px; }
.col_13e { height:1140px;width: 620px;background-color: silver;margin-left: 20px;margin-top: -40px; }
.col_23 { width: 150px;  }
.no_margin_right { margin-right: 0 }


#img1{
	margin-left: 57px;
	margin-top: 40px;
}
#img2{
	margin-left: 57px;
	
}

#titulo{
	margin-top: 40px;
	margin-left: 60px;
	color:#FFBF00;
	font-family: Tahoma, Geneva, sans-serif;
	text-shadow:
   -2px -2px 0 black,
    2px -2px 0 black,
   -2px 2px 0 black,
    2px 2px 0 black;
}

#boton3{
	background-color: green;
	margin-left: 54px;
	padding: 2px;
	width:260px;
	height:90px;
	font-size:19px;
	-khtml-border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
	border:4px solid black;
	color:yellow;
	 text-shadow:
   -1px -1px 0 black,
    1px -1px 0 black,
   -1px 1px 0 black,
    1px 1px 0 black;
}
#boton3:hover{
	background-color:#01DF01;
	margin-left: 54px;
	width:260px;
	height:90px;
	font-size:19px;
	-khtml-border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
	border:4px solid black;
	color:yellow;
	 text-shadow:
   -1px -1px 0 black,
    1px -1px 0 black,
   -1px 1px 0 black,
    1px 1px 0 black;
}

  
#boton{
	margin-top: 20px;
	margin-right: 550px;
	margin-left: 1px;

}

#cuadro{
	width:180px;
	height:200px;
	background-color: #1C1C1C;
	-khtml-border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
	padding-top: 20px;
	padding-left: 17px;
	color:silver;
    

}

#entrar { 
background-color:#D8D8D8; 
width:140px;
height: 30px;
-khtml-border-radius:4px;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;
border:2px solid black;
}

#tabla{
	margin-left: 1px;
	margin-top: -180px;
	width:60px;
	color:yellow;
	border:solid 2px black;
	background-color: black;

}

#ranking{
	color:silver;
	margin-left: 46px;
	margin-top:74px;
	font-size: 18px;

}
th{
	margin-left: 50px;
	color:black;
	background-color: silver;
}

#bienvenida{
	margin-right: -140px;
    margin-left: 30px;
	font-size: 15px;
	color:silver;
}

#logout{
	margin-left: 50px;

}
	
#bienvenida2{
	margin-left: 180px;
	font-size: 17px;
	color:red;
}



#tabla2{
	margin-left: 170px;
	margin-top: -1800px;
	width:60px;
	color:yellow;
	border:solid 1px black;
	background-color: black;

}

#top100{
	color:black;
	margin-left: 153px;
	margin-top: 30px;

}	

#imgrank{
	margin-left: 90px;
	margin-top: 20px;
}

#personaje1{
	margin-left: 76px;
	
}
#personaje2{
	margin-left: 76px;
	
}
#personaje3{
	margin-left: 76px;
	
}
#personaje4{
	margin-left: 76px;
	
}
#personaje5{
	margin-left: 76px;
	
}
#personaje6{
	margin-left: 76px;
	
}
#personaje7{
	margin-left: 76px;
	
}
#personaje8{
	margin-left: 76px;
	
}

#parrafo1{
	margin-right: 2px;
	margin-left: 80px;
	color:black;
	width:450px;
}
#donaciones{
	margin-top: 50px;
	margin-left: 200px;
	
}


#formreg{
	margin-left: 206px;
	font-size: 14px;
}

#regtitulo{
	margin-left: 200px;
	margin-top: 60px;
}

#registro{
	background-color: green;
	margin-left: 8px;
	padding: 2px;
	width:180px;
	height:40px;
	font-size:19px;
	-khtml-border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
	border:4px solid black;
	color:yellow;
	 text-shadow:
   -1px -1px 0 black,
    1px -1px 0 black,
   -1px 1px 0 black,
    1px 1px 0 black;
}


#regtitulo2{
	margin-top:50px;
}

#descarga{
	margin-left: 50px;
	margin-top: 30px;
}

#botondesc{
	margin-left: 50px;
}

#boton1{
	background-color: red;
	margin-left: 48px;
	width:250px;
	height:100px;
	font-size:16px;
	-khtml-border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
	border:4px solid black;
	color:yellow;
	 text-shadow:
   -1px -1px 0 black,
    1px -1px 0 black,
   -1px 1px 0 black,
    1px 1px 0 black;
}

#boton1:hover{
	background-color:#FF8000;
	margin-left: 48px;
	width:250px;
	height:100px;
	font-size:16px;
	-khtml-border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
	border:4px solid black;
	color:yellow;
	 text-shadow:
   -1px -1px 0 black,
    1px -1px 0 black,
   -1px 1px 0 black,
    1px 1px 0 black;
}

#boton2:hover{
	background-color:#FF8000;
	font-size:16px;
	width:250px;
	height:100px;
	-khtml-border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
	border:4px solid black;
	color:yellow;
	 text-shadow:
   -1px -1px 0 black,
    1px -1px 0 black,
   -1px 1px 0 black,
    1px 1px 0 black;
}

#boton2{
	background-color: red;
	font-size:16px;
	width:250px;
	height:100px;
	-khtml-border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
	border:4px solid black;
	color:yellow;
	 text-shadow:
   -1px -1px 0 black,
    1px -1px 0 black,
   -1px 1px 0 black,
    1px 1px 0 black;
}

#cuadro{
	width:180px;
	height:200px;
	background-color: #1C1C1C;
	-khtml-border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
	padding-top: 20px;
	padding-left: 17px;


}
td{
	background-color: green;
}

#flash{
	margin-left: -180px;
	margin-top:0px;
	height:290px;
	width: 1200px;
}
